<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n){FATAL=red, ERROR=red, WARN=yellow, INFO=blue, DEBUG=green, TRACE=blue}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
